<html>

<head>
    <script src="/demo/static/walletbeacon.min.js"></script>
    <link rel="stylesheet" href="/demo/static/style.css">
    <title>Bridging SSI wallet to Web3 dApp</title>
    <link rel="icon" type="image/png" href="/demo/static/altmeIcon.png" sizes="16x16">

</head>

<body>


    <nav class="js-nav nav-02  nav-02--sticky  nav-02--sticky--white  ">
        <div class="nav-02__box">
            <div class="nav-02__logo"><a class="nav-02__link" href="https://altme.io/" target="_self">
                    <img loading="lazy" class="nav-02__logo_img" src="/demo/static/altmeIcon.png" height="70"
                        alt="Logo" />
                </a></div>

            <div class="nav-02__list_wrapper  ">
                <div class="nav-02__list nav-02__list--desktop">
                    <div class="nav-02__item">
                        <a class="button   button--black-outline  button--empty "
                            href="https://altme.io/#slider-07-879531" target="_self">
                            <p class="linkP"> Wallet features
                            </p>
                        </a>
                    </div>
                    <div class="nav-02__item" id="newsNav">
                        <a class="button   button--black-outline  button--empty "
                            href="https://altme.io/#posts-05-876621" target="_self">
                            <p class="linkP">News</p>

                        </a>
                    </div>
                    <div class="nav-02__item" id="roadmapNav">
                        <a href="https://altme.io/#features-09-390941" target="_self">
                            <p class="linkP">Roadmap</p>

                        </a>
                    </div>
                    <div class="nav-02__item" id="faqNav">
                        <a class="button   button--black-outline  button--empty " href="#superFaq" target="_self">
                            <p class="linkP">FAQ</p>
                        </a>
                    </div>
                    <div class="nav-02__item">

                        <a data-stripe-product-id="" data-stripe-mode="payment" data-successful-payment-url=""
                            data-cancel-payment-url="" class="button button--accent-bg "
                            href="/cdn-cgi/l/email-protection#e094888985929299a0818c948d85ce898f" target="_blank">
                            <div class="contactSpan">
                                <p class="contactP">Contact</p>
                            </div>
                        </a>
                    </div>
                </div>


            </div>

        </div>

    </nav>

    <div class=" text-center" style="justify-content: center; align-items: center; 
    ">
        <p id="bigTitle">Altme Wallet / Talao Wallet demos</p>
        <div id="menuBox">
            <div id="bridging">
                <p class="subtitle">Bridging SSI wallets to Web3 dApp</p>
                <div class="web3ssi">
                    <a href="/demo?blockchain=tezos" style="text-decoration: none;">
                        <div class="linkDemo" style="display :flex; flex-direction: column; justify-content: center; align-items: center; border-width: 1px; border-color: black; border-style: solid; padding: 30px;
                border-radius: 20px; min-height: 175px;">
                            <p style="color: black; font-size: 24px; font-weight: 650;   min-width: 263px; text-align: center;
                ">Try with Beacon</p>
                            <img style="width: 80px; " src="/demo/static/beaconlogo.png">
                        </div>
                    </a>
                    <a href="/demo?blockchain=ethereum" style="text-decoration: none;">

                        <div class="linkDemo" style="display :flex; flex-direction: column; justify-content: center; align-items: center; border-width: 1px; border-color: black; border-style: solid; padding: 30px;
                border-radius: 20px; min-height: 175px;">

                            <p style="color: black; font-size: 24px; font-weight: 650;   min-width: 263px; text-align: center;
                ">Try with WalletConnect</p>
                            <img style="width: 80px; " src="/demo/static/walletconnect.png">
                        </div>
                    </a>
                </div>
            </div>
            <div id="bridging">
                <p class="subtitle">Other demos</p>
                <div class="web3ssi">
                <a  href="/demo/over18-demo" style="text-decoration: none;">

                    <div class="linkDemo" style="display :flex; flex-direction: column; justify-content: center; align-items: center; border-width: 1px; border-color: black; border-style: solid; padding: 30px;
                border-radius: 20px; min-height: 175px;">

                        <p style="color: black; font-size: 24px; font-weight: 650;   min-width: 263px; text-align: center;
                ">Over18 Demo</p>
                        <img style="width: 80px; "
                            src="https://unicorn-cdn.b-cdn.net/24a9fea5-9913-463c-9dd7-1f34e01531f5/">
                    </div>
                </a>
            </div>
        </div>






    </div>


</body>

</html>